.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: white;
  color: #333;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.welcomeMessage {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #333;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 15px 20px;
}

.navLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  transition: background 0.3s ease;
  padding: 10px 0;
}

.navLink:hover {
  background-color: #e0e0e0;
  color: #007bff;
}

.navIcon {
  margin-right: 10px;
}

.logoutContainer {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.logoutButton {
  width: 100%;
  padding: 12px;
  background-color: #fd3535;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-radius: 5px; /* Add border radius for a rounded effect */
  font-weight: bold;
}

.logoutButton:hover {
  background-color: #0056b3;
  transform: scale(1.05); /* Slight scaling effect on hover */
}

.logoutButton:focus {
  outline: none;
}

.logoutButton:active {
  transform: scale(1);
}
