.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #3c3cb8;
  color: white;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  padding: 15px 20px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: block;
  transition: background 0.3s ease;
}

.navLink:hover {
  background-color: #4f4f9e;
}

.logoutButton {
  width: 100%;
  padding: 12px;
  background-color: #b6493b;;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.logoutButton:hover {
  background-color: #a03f19;
}
